<%- include('partials/header', {user:user}) -%>

<!--TODO implement Contact Form -->
<div class="container">
  <div class="pb-2 mt-2 mb-4 border-bottom">
    <h3>Contact Form</h3>
  </div>
</div>


<%- include('partials/footer') -%>